<form name="form" #f="ngForm"> 
  <mat-horizontal-stepper [linear]="isLinear">
    
    <mat-step>
      <ng-template matStepLabel>Conexão</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="model.address" name="address" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Port" [(ngModel)]="model.port" name="port" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name of Database" [(ngModel)]="model.databaseName" name="databaseName" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name of collection" [(ngModel)]="model.collectionName" name="collectionName" required>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="model.rawSchemaFormat" name="rawSchemaFormat">Collection of Raw Schema</mat-checkbox>
      <div>
        <button mat-button [routerLink]="['/']">Cancelar</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="f.form.invalid">next</button>
      </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Authentication</ng-template>
      <mat-form-field>
        <input matInput placeholder="Administration database name" [(ngModel)]="model.authentication.authDatabase" name="authDatabase">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="User" [(ngModel)]="model.authentication.userName" name="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="model.authentication.password" name="password"> 
      </mat-form-field>
      <mat-select placeholder="Authentication mechanism" [(ngModel)]="model.authentication.authMechanism" name="authMechanism">
        <mat-option *ngFor="let authMechanism of authMechanisms" [value]="authMechanism">{{authMechanism}}</mat-option>
      </mat-select>
      <div>
        <button mat-button matStepperPrevious>previous</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="f.form.invalid">next</button>
      </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Pronto</ng-template>
      <p>
        This process may take time depending on the size of the document collection entered.
        You will receive a notification once the JSONSchema has been extracted. </p>
      <div>
        <button mat-button matStepperPrevious>previous</button>
        <button mat-raised-button color="primary" [disabled]="f.form.invalid" (click)="f.form.valid && discovery()">Extract Schema</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
